/* src/pages/HomePage.css */
.homePage {
  padding: 20px;
}

.homePage__banner {
  background-color: #131921;
  color: #ffffff;
  padding: 40px;
  height: 150px;
  text-align: center;
  background-image: url("https://m.media-amazon.com/images/G/31/IN-Events/Arundhati/store-header-MayART25-PC_SS25_v8.gif");
}

.homePage__filters {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  padding: 10px;
}

.homePage__filters h3 {
  margin: 0;
}

.homePage__filters select {
  padding: 5px;
  font-size: 16px;
}

.homePage__productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.homePage__productList div {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}